<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layouts/header.ejs') %>
</head>

<body>
  <!-- Navbar -->
  <%- include('adminnavbar.ejs') %>

  <!-- Form Edit Buku -->
  <h2>Formulir Edit Buku</h2>
  <form action="/api/books/<%= book._id %>" method="POST">
    <label for="judul">Judul:</label>
    <input type="text" id="judul" name="judul" value="<%= book.judul %>" required><br>
    
    <label for="author">Penulis:</label>
    <input type="text" id="author" name="author" value="<%= book.author %>" required><br>
    
    <label for="penerbit">Penerbit:</label>
    <input type="text" id="penerbit" name="penerbit" value="<%= book.penerbit %>" required><br>
    
    <label for="imageUrl">URL Gambar:</label>
    <input type="text" id="imageUrl" name="imageUrl" value="<%= book.imageUrl %>" required><br>
    
    <label for="sinopsis">Sinopsis:</label>
    <textarea id="sinopsis" name="sinopsis" rows="4" required><%= book.sinopsis %></textarea><br>

    <label for="tanggal">Tanggal Terbit:</label>
        <input type="number" id="tanggal" name="tanggal" value="<%= book.tanggal %>"><br>
        <select id="bulan" name="bulan">
          <option value="" <%= book.bulan === '' ? 'selected' : ''  %>>((none))</option>
          <option value="Januari" <%= book.bulan === 'Januari' ? 'selected' : '' %>>Jan</option>
          <option value="Februari" <%= book.bulan === 'Februari' ? 'selected' : '' %>>Feb</option>
          <option value="Maret" <%= book.bulan === 'Maret' ? 'selected' : '' %>>Mar</option>
          <option value="April" <%= book.bulan === 'April' ? 'selected' : '' %>>Apr</option>
          <option value="Mei" <%= book.bulan === 'Mei' ? 'selected' : '' %>>Mei</option> 
          <option value="Juni" <%= book.bulan === 'Juni' ? 'selected' : '' %>>Jun</option>
          <option value="Juli" <%= book.bulan === 'Juli' ? 'selected' : '' %>>Jul</option>
          <option value="Agustus" <%= book.bulan === 'Agustus' ? 'selected' : '' %>>Agu</option>
          <option value="September" <%= book.bulan === 'September' ? 'selected' : '' %>>Sep</option>
          <option value="Oktober" <%= book.bulan === 'Oktober' ? 'selected' : '' %>>Okt</option>
          <option value="November" <%= book.bulan === 'November' ? 'selected' : '' %>>Nov</option>
          <option value="Desember" <%= book.bulan === 'Desember' ? 'selected' : '' %>>Des</option>
        </select><br>
        <input type="number" id="tahun" name="tahun" value="<%= book.tahun %>" required><br>
    
    <label for="halaman">Jumlah Halaman:</label>
    <input type="number" id="halaman" name="halaman" value="<%= book.halaman %>" required><br>
    
    <label for="harga">Harga:</label>
    <input type="number" id="harga" name="harga" value="<%= book.harga %>" required><br>

    <label for="isbn">ISBN:</label>
    <input type="text" id="isbn" name="isbn" value="<%= book.isbn %>" required><br>
    
    <label for="kategori">Kategori:</label>
    <select id="kategori" name="kategori" required>
      <option value="novel" <%= book.kategori === 'novel' ? 'selected' : '' %>>Novel</option>
      <option value="inspirasi" <%= book.kategori === 'inspirasi' ? 'selected' : '' %>>Inspirasi</option>
      <option value="sejarah" <%= book.kategori === 'sejarah' ? 'selected' : '' %>>Sejarah</option>
      <option value="komik" <%= book.kategori === 'komik' ? 'selected' : '' %>>Komik</option>
      <option value="resepmasakan" <%= book.kategori === 'resepmasakan' ? 'selected' : '' %>>Resep & Masakan</option>
      <option value="bisnisekonomi" <%= book.kategori === 'bisnisekonomi' ? 'selected' : '' %>>Bisnis & Ekonomi</option>
      <option value="bahasaasing" <%= book.kategori === 'bahasaasing' ? 'selected' : '' %>>Bahasa Asing</option>
      <option value="medis" <%= book.kategori === 'medis' ? 'selected' : '' %>>Medis</option>
    </select><br>

    <label for="promo">Promo</label>
    <select id="promo" name="promo">
      <option value="Disable" <%= book.promo === 'Disable' ? 'selected' : '' %>>Disable</option>
      <option value="Enable" <%= book.promo === 'Enable' ? 'selected' : '' %>>Enable</option>
    </select><br>

    <div id="diskonField" style="display: none;">
      <br>
      <label for="diskon">Diskon: (dalam persen)</label>
      <input type="number" name="diskon" id="diskon" value="<%= book.diskon %>">
      <br>
    </div>
    <button type="submit">Simpan Perubahan</button>
    </form>
    
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const promo = document.getElementById('promo');
        const diskonField = document.getElementById('diskonField');
  
        if (promo.value === 'Enable') {
          diskonField.style.display = 'block';
        } else {
          diskonField.style.display = 'none';
        }
  
        promo.addEventListener('change', function () {
            if (this.value === 'Enable') {
              diskonField.style.display = 'block';
            } else {
              diskonField.style.display = 'none';
            }
        });
    });
    </script>
</body>
<link rel="stylesheet" href="../../css/addbooks.css">
</html>
