<header>
    <nav class="navbar">
        <a href="/" class="logo">Aksa Buku</a>
        <a href="/" class="isi">Beranda</a>
        <li class="dropdown">
            <a href="/jelajah" class="isi" id="jelajah">Jelajah</a>
            <div class="dropdown-content">
                <a href="/novel">Buku Novel</a>
                <a href="/inspirasi">Buku Inspirasi</a>
                <a href="/sejarah">Buku Sejarah</a>
                <a href="/komik">Buku Komik</a>
                <a href="/resepmasakan">Buku Resep & Masakan</a>
                <a href="/bisnisekonomi">Buku Bisnis & Ekonomi</a>
                <a href="/bahasaasing">Buku Bahasa Asing</a>
                <a href="/medis">Buku Medis</a>
            </div>
        </li>
        <a href="/contact" class="isi">Hubungi Kami</a>
        <a href="/form" class="isi">Peminjaman</a>

        <div class="icons">
            <a href="/keranjang" class='bx bxs-shopping-bags'></a>
            <li class="dropdown">
                <% if (!user) { %>
                    <a href="/login" class='bx bxs-user'></a>
                <% } else { %>
                    <a>
                        <img src= <%= user.profileImage %> alt = <%= user.username %>  
                        class="profile-img rounded-circle" style="width: 30px; height: 30px;">
                    </a>
                    <div class="dropdown-user">
                        <h2>@<%= user.username %></h2>
                        <img src= <%= user.profileImage %> alt =<%= user.username %> 
                        class="profile-img rounded-circle">
                        <hr>
                        <a href="/profil">Profil</a>
                        <hr>
                        <a href="/">Riwayat Pembelian</a>
                        <hr>
                        <a href="/">Riwayat Peminjaman</a>
                        <hr>
                        <a href="/logout">Logout</a>
                    </div>
                <% } %>
            </li>
        </div>
    </nav>
</header>