
<!DOCTYPE html> 
<html lang="en">
<head>
    <%- include('layouts/header.ejs') %>
</head>
<body>
    <!-- Navbar -->
    <%- include('layouts/navbar.ejs') %>
    
    <!-- intro -->
    <section class="content">
        <div class="column">
            <h1>Aksa Buku</h1>
            <p>Memulai pertualangan buku tanpa batas,<br>
                Memberikan rekomendasi buku terbaru dan populer</p>
            <button id="shop-now-btn">Shop Now</button>
        </div>
        <div class="column"></div>
    </section>
        <!-- end intro -->

        <!-- border -->
        <section class="banner" id="banner-section">
            <div class="banner-img" id="banner-img-one">
                <img src="/assets/img/banner/banner-2.png">
            </div>

            <div class="banner-img" id="banner-img-two">
                <img src="/assets/img/banner/banner-1.png">
            </div>
        </section>
        <!-- end border -->

        <!-- produk baru -->
        <h1 class="pheading"> <span>New</span> Products</h1>
        <%- include('layouts/bukuterbaru.ejs') %>

        <!-- produk baru -->
        <h1 class="pheading" id="section-1"> <span>Hot</span> Products</h1>
        <%- include('layouts/bukupopuler.ejs') %>

        <!-- produk diskon -->
        <h1 class="pheading" id="section-2"> <span>Discount</span> Products</h1>
        <%- include('layouts/bukudiskon.ejs') %>    

        <!-- footer -->
        <%- include('layouts/footer.ejs') %>
        <script src="fungsi.js"></script>

        <script>
            document.getElementById('shop-now-btn').addEventListener('click', function() {
                const goToBanner = document.getElementById('banner-section');
                goToBanner.scrollIntoView({ behavior: 'smooth' });
            });

            document.getElementById('banner-img-one').addEventListener('click', function() {
                const bannerSection1 = document.getElementById('section-1');
                bannerSection1.scrollIntoView({ behavior: 'smooth' });
            });

            document.getElementById('banner-img-two').addEventListener('click', function() {
                const bannerSection2 = document.getElementById('section-2');
                bannerSection2.scrollIntoView({ behavior: 'smooth' });
            });
        </script>
</body>
</html>
