<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layouts/header.ejs') %>
    

    <link rel="stylesheet" href="/css/profil.css">
</head>

<body>
    <!-- akun settings -->
    <div class="container light-style flex-grow-1 container-p-y">
        <h4 class="font-weight-bold py-3 mb-4">
            Account settings
        </h4>

        <!-- FORM -->
        <form action="/profile/edit" method="POST">
            <div class="card overflow-hidden">
                <div class="row no-gutters row-bordered row-border-light">

                    <!-- PILIHAN -->
                    <div class="col-md-3 pt-0">
                        <div class="list-group list-group-flush account-settings-links">
                            <a class="list-group-item list-group-item-action active" data-toggle="list"
                                href="#account-general">General</a>
                            <a class="list-group-item list-group-item-action" data-toggle="list"
                                href="#account-change-password">Change password</a>
                            <a class="list-group-item list-group-item-action" data-toggle="list"
                                href="#account-info">Info</a>
                            <a class="list-group-item list-group-item-action" data-toggle="list"
                                href="#account-social-links">Social links</a>
                            <a class="list-group-item list-group-item-action" data-toggle="list"
                                href="#account-connections">Connections</a>
                            <a class="list-group-item list-group-item-action" data-toggle="list"
                                href="#account-notifications">Notifications</a>
                        </div>
                    </div>

                    <!-- COLUMN -->
                    <div class="col-md-9">
                        <div class="tab-content">
                            
                            <!-- GENERAL -->
                            <div class="tab-pane fade active show" id="account-general">
                                <div class="card-body media align-items-center">
                                    <img src=<%= user.profileImage %> alt
                                        class="d-block ui-w-80">
                                    <div class="media-body ml-4">
                                        <label class="btn btn-outline-primary">
                                            Upload new photo
                                            <input type="file" class="account-settings-fileinput">
                                        </label> &nbsp;
                                        <button type="button" class="btn btn-default md-btn-flat">Reset</button>
                                        <div class="text-light small mt-1">Allowed JPG, GIF or PNG. Max size of 800K</div>
                                    </div>
                                </div>
                                <hr class="border-light m-0">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="uname" class="form-label">Username</label>
                                        <input type="text" name="uname" class="form-control mb-1" value = <%= user.uname %> >
                                    </div>
                                    <div class="form-group">
                                        <label for="name" class="form-label">Name</label>
                                        <input type="text" name="name" class="form-control" value = <%= user.name %> >
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="form-label">E-mail</label>
                                        <input type="text" name="email" class="form-control mb-1" value= <%= user.email %> >
                                        <!-- <div class="alert alert-warning mt-3">
                                            Your email is not confirmed. Please check your inbox.<br>
                                            <a href="javascript:void(0)">Resend confirmation</a>
                                        </div> -->
                                    </div>
                                    <div class="form-group">
                                        <label for="company" class="form-label">Company</label>
                                        <input type="text" name="company" class="form-control" value= <%= profil.company %>>
                                    </div>
                                </div>
                            </div>

                            <!-- CHANGE PASSWORD -->
                            <div class="tab-pane fade" id="account-change-password">
                                <div class="card-body pb-2">
                                    <div class="form-group">
                                        <label class="form-label">Current password</label>
                                        <input type="password" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">New password</label>
                                        <input type="password" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Repeat new password</label>
                                        <input type="password" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <!-- ACCOUNT INFO -->
                            <div class="tab-pane fade" id="account-info">
                                <div class="card-body pb-2">
                                    <div class="form-group">
                                        <label for="bio" class="form-label">Bio</label>
                                        <textarea name="bio" class="form-control" rows="5" 
                                        value = <%= profil.bio %>>
                                        </textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="birthday" class="form-label">Birthday</label>
                                        <input type="date" name="birthday" class="form-control" 
                                        value = <%= profil.birthday %>>
                                    </div>
                                    <div class="form-group">
                                        <label for="country" class="form-label">Country</label>
                                        <select name='country' class="custom-select">
                                            <option value="" <%= profil.country === '' ? 'selected' : ''  %>>((none))</option>
                                            <option value="USA" <%= profil.country === 'USA' ? 'selected' : ''  %>>USA</option>
                                            <option value="Canada" <%= profil.country === 'Canada' ? 'selected' : ''  %>>Canada</option>
                                            <option value="UK" <%= profil.country === 'UK' ? 'selected' : ''  %>>UK</option>
                                            <option value="Germany" <%= profil.country === 'Germany' ? 'selected' : ''  %>>Germany</option>
                                            <option value="France" <%= profil.country === 'France' ? 'selected' : ''  %>>France</option>
                                            <option value="Indonesia" <%= profil.country === 'Indonesia' ? 'selected' : ''  %>>Indonesia</option>
                                            <option value="South Korea" <%= profil.country === 'South Korea' ? 'selected' : ''  %>>South Korea</option>
                                            <option value="Japan" <%= profil.country === 'Japan' ? 'selected' : ''  %>>Japan</option>
                                        </select>
                                    </div>
                                </div>
                                <hr class="border-light m-0">
                                <div class="card-body pb-2">
                                    <h6 class="mb-4">Contacts</h6>
                                    <div class="form-group">
                                        <label for="phone" class="form-label">Phone</label>
                                        <input type="text" name="phone" class="form-control" value= <%= user.phone %>>
                                    </div>
                                    <div class="form-group">
                                        <label for="website" class="form-label">Website</label>
                                        <input type="text" name="website" class="form-control" value = <%= profil && profil.website ? profil.website : '' %>>
                                    </div>
                                </div>
                            </div>

                            <!-- ACCOUNT SOCIAL LINKS -->
                            <div class="tab-pane fade" id="account-social-links">
                                <div class="card-body pb-2">
                                    <div class="form-group">
                                        <label for="twitter" class="form-label">Twitter</label>
                                        <input type="text" name='twitter' class="form-control" value= <%= profil.twitter %>>
                                    </div>
                                    <div class="form-group">
                                        <label for="facebook" class="form-label">Facebook</label>
                                        <input type="text" name="facebook" class="form-control" value= <%= profil.facebook %>>
                                    </div>
                                    <div class="form-group">
                                        <label for="googlePlus" class="form-label">Google+</label>
                                        <input type="text" name="googlePlus" class="form-control" value = <%= profil.googlePlus %>>
                                    </div>
                                    <div class="form-group">
                                        <label for="instagram" class="form-label">Instagram</label>
                                        <input type="text" name="instagram" class="form-control" value= <%= profil.instagram %>>
                                    </div>
                                </div>
                            </div>

                            <!-- ACCOUNT CONNECTIONS -->
                            <div class="tab-pane fade" id="account-connections">
                                <div class="card-body">
                                    <button type="button" class="btn btn-twitter">Connect to
                                        <strong>Twitter</strong></button>
                                </div>
                                <hr class="border-light m-0">
                                <div class="card-body">
                                    <h5 class="mb-2">
                                        <a href="javascript:void(0)" class="float-right text-muted text-tiny"><i
                                                class="ion ion-md-close"></i> Remove</a>
                                        <i class="ion ion-logo-google text-google"></i>
                                        You are connected to Google:
                                    </h5>
                                    <a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                        data-cfemail="f9979498818e9c9595b994989095d79a9694">[email&#160;protected]</a>
                                </div>
                                <hr class="border-light m-0">
                                <div class="card-body">
                                    <button type="button" class="btn btn-facebook">Connect to
                                        <strong>Facebook</strong></button>
                                </div>
                                <hr class="border-light m-0">
                                <div class="card-body">
                                    <button type="button" class="btn btn-instagram">Connect to
                                        <strong>Instagram</strong></button>
                                </div>
                            </div>

                            <!-- ACCOUNT NOTIFICATION -->
                            <div class="tab-pane fade" id="account-notifications">
                                <div class="card-body pb-2">
                                    <h6 class="mb-4">Activity</h6>
                                    <div class="form-group">
                                        <label class="switcher">
                                            <input type="checkbox" class="switcher-input" checked>
                                            <span class="switcher-indicator">
                                                <span class="switcher-yes"></span>
                                                <span class="switcher-no"></span>
                                            </span>
                                            <span class="switcher-label">Email me when someone comments on my article</span>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="switcher">
                                            <input type="checkbox" class="switcher-input" checked>
                                            <span class="switcher-indicator">
                                                <span class="switcher-yes"></span>
                                                <span class="switcher-no"></span>
                                            </span>
                                            <span class="switcher-label">Email me when someone answers on my forum
                                                thread</span>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="switcher">
                                            <input type="checkbox" class="switcher-input">
                                            <span class="switcher-indicator">
                                                <span class="switcher-yes"></span>
                                                <span class="switcher-no"></span>
                                            </span>
                                            <span class="switcher-label">Email me when someone follows me</span>
                                        </label>
                                    </div>
                                </div>
                                <hr class="border-light m-0">
                                <div class="card-body pb-2">
                                    <h6 class="mb-4">Application</h6>
                                    <div class="form-group">
                                        <label class="switcher">
                                            <input type="checkbox" class="switcher-input" checked>
                                            <span class="switcher-indicator">
                                                <span class="switcher-yes"></span>
                                                <span class="switcher-no"></span>
                                            </span>
                                            <span class="switcher-label">News and announcements</span>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="switcher">
                                            <input type="checkbox" class="switcher-input">
                                            <span class="switcher-indicator">
                                                <span class="switcher-yes"></span>
                                                <span class="switcher-no"></span>
                                            </span>
                                            <span class="switcher-label">Weekly product updates</span>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="switcher">
                                            <input type="checkbox" class="switcher-input" checked>
                                            <span class="switcher-indicator">
                                                <span class="switcher-yes"></span>
                                                <span class="switcher-no"></span>
                                            </span>
                                            <span class="switcher-label">Weekly blog digest</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-right mt-3">
                <button type="submit" class="btn btn-primary submit-btn">Save changes</button>&nbsp;
                <button type="button" class="btn btn-default">Cancel</button>
            </div>
        </form>
    </div>

    <!-- khusus fungsi profil -->
    <%- include('../layouts/scriptProfil.ejs') %>
</body >
</html >
